<html>
	<head>
		<title>#otakushirts chat page</title>
		<style>
			body{ font-family: sans-serif; }
			.post_info{ font-size: 70%; padding-bottom: 6px; }
			a{ color: #0000ff; text-decoration: none; }
			a:hover{ color: #000066; }
			form{display: inline; padding-left: 30px;}
			#q{width: 350px;}
			#filter_box{ padding-bottom: 30px; }
		</style>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$('#search').submit(function (){
					document.location.href = 'http://otakushirts.com/q/' + $('#q').val();
					return false;
				});
			});
		</script>
	</head>
	<body>
		<h3>#otakushirts Link Archive</h3>
		<div id="filter_box" class="box">
			<a href="/">Today</a>{% if previous_day %} | <a href="/date/{{previous_day|date:"Y-m-d"}}/">Previous Day</a>{% endif %}{% if next_day %} | <a href="/date/{{next_day|date:"Y-m-d"}}/">Next Day</a>{% endif %}
			<form id="search"><input type="text" id="q" name="q" value="{{search}}"/><input type="Submit" value="Search" /></form><br />
			Links displayed: {{linkCount}}
		</div>
		<div id="link_box" class="box">
			<table width="100%" cellpadding="0" cellspacing="0">
				{% for link in links %}
				<tr>
					<td class="link_url"><a target="_blank" href="{{link.url}}">{{link.title}}</a></td>
				</tr>
				<tr>
					<td class="post_info">Posted by <a href="/user/{{link.user}}/">{{link.user}}</a> at {{link.timestamp|time:"H:i"}} on {{link.timestamp|date:"Y-m-d"}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</body>
</html>
